In [56]:
import pandas as pd

In [57]:
df = pd.read_excel('/content/TANGARA DA SERRA - MT - 03-10-23.xlsx')

In [58]:
df = df[df['Disponibilidade'] == 'COM COBERTURA'].reset_index()

In [59]:
consultores = [
  'CAIQUE RIBEIRO GUEDES',
  'DYANA SILVA LEITE',
  'FLAVIO HENRIQUE LEMOS DOS NASCIMENTO',
  'GABRIEL DE JESUS SOUSA',
  'GLEICY STEFANNY',
  'LUCAS ANDRE',
  'LUCAS DE JESUS ALVES GUALBERTO',
  'LUCAS ERICK',
  'LUCAS FIGUEREDO',
  'LUCIANA ALVES DE SOUSA',
  'MARIANE GONÇALVES TEIXEIRA',
  'ORLANDO RODRIGUES DA SILVA',
  'PAMARA ROSA',
  'PEDRO HENRIQUE',
  'THATILA ALVES XIMENES',
  'VICTOR GABRIEL'
]

In [60]:
shape = df.shape[0]
cons = len(consultores)

In [61]:
def get_consultor(index):
    total_leads = len(df)
    total_consultores = len(consultores)
    leads_por_consultor = total_leads // total_consultores

    consultor_index = (index // leads_por_consultor) % total_consultores
    return consultores[consultor_index]

In [62]:
df['Consultor'] = df.index.to_series().apply(lambda x: get_consultor(x))

In [63]:
df['Consultor'].value_counts()

CAIQUE RIBEIRO GUEDES                   164
DYANA SILVA LEITE                       159
FLAVIO HENRIQUE LEMOS DOS NASCIMENTO    159
GABRIEL DE JESUS SOUSA                  159
GLEICY STEFANNY                         159
LUCAS ANDRE                             159
LUCAS DE JESUS ALVES GUALBERTO          159
LUCAS ERICK                             159
LUCAS FIGUEREDO                         159
LUCIANA ALVES DE SOUSA                  159
MARIANE GONÇALVES TEIXEIRA              159
ORLANDO RODRIGUES DA SILVA              159
PAMARA ROSA                             159
PEDRO HENRIQUE                          159
THATILA ALVES XIMENES                   159
VICTOR GABRIEL                          159
Name: Consultor, dtype: int64

In [64]:
df.to_excel('tangara da serra dividido.xlsx')